/* Core Styles */

body {
    margin: 0;
    font-family: 'Playfair Display', sans-serif;
    background: #1a1b41;
    color: #f1ffe7;
    font-size: 1.1em;
    line-height: 1.5;
    text-align: center;
}

img {
    display: block;
    width: 100%;
}