/* Core Styles */

body {
    margin: 0;
    font-family: 'Playfair Display', sans-serif;
    background: #1a1b41;
    color: #f1ffe7;
    font-size: 1.1em;
    line-height: 1.5;
    text-align: center;
}

img {
    display: block;
    width: 100%;
    height: auto;
}

h1, h2, h3 {
  margin:  0;
  padding: 1em 0;  
}

p {
  margin: 0;
  padding: 1em 0;
}

.btn {
    display: inline-block;
    background: #1a1b41;
    color: #f1ffe7;
    text-decoration: none;
    padding: 1em 2em;
    border: 1px solid #c2e7da;
    margin: .5em 0;
}

/* maybe change color */
.btn:hover {
    background: #f1ffe7;
    color: #1a1b41;
}

/* Hero Section */
