/* Core Styles */
html {
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
    /* border-radius: 5px 5px 0 0; */
}

body {
    margin: 0;
    font-family: 'Playfair Display', sans-serif;
    color: rgb(1, 1, 1);
    background: transparent;
    font-size: 1.1em;
    line-height: 1.5;
    text-align: center;
    padding: inherit;
}

/* navigation bar */
.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color:  #303231c8;
    color: rgb(255, 255, 255);
    /* padding: 1em */
}

.brand-title {
    font-size: 1.7rem;
    margin: .5rem;
}

.navbar-link ul {
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar-link li {
    list-style: none;
}

.navbar-link li a {
    text-decoration: none;
    color: white;
    padding: 1rem;
    display: block;
}

.navbar-link li:hover {
    background-color: #0592ef;
    border-radius: 0.5rem;
    transition: 0.5s;
}

.toggle-button {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}

/* ----------------------------- */

/* Services Section */

.card1 {
    padding: 0.5em;
}

.card1 img {
    display: block;
    width: 100%;
    height: auto;
}

.card2 {
    padding: 0.5em;
}

.card2 img {
    display: block;
    width: 100%;
    height: auto;
}

.card3 {
    padding: 0.5em;
}

.card3 img {
    display: block;
    width: 100%;
    height: auto;
}

/* ----------------------------- */

h1,
h2,
h3 {
    margin: 0;
    padding: 1em 0;
}

p {
    margin: 0;
    padding: 1em 0;
}

.btn {
    display: inline-block;
    text-decoration: none;
    color: white;
    font-family: 'Playfair Display', sans-serif;
    text-transform: none;
    font-weight: bold;
    background: #4244b9;
    border-radius: 0.5em;
    padding: 1em 2em;
    margin: .5em 0;
}


.btn:hover {
    background: #0592ef;
    color: white;
    transform: scale(1.1);
    transition: 0.1s ease-in-out;
}

#map-iframe {
    width: 100%;
    min-height: 25em;
    display: block;
    padding: 5px 0 5px 0;
}

/* ----------------- Hero Section ----------------- */
header {
    min-height: 320px;
    color: white;
    text-align: center;
    background: linear-gradient(rgba(0, 0, 0, 0.788), rgba(0, 0, 0, 0.6)), url('https://images.pexels.com/photos/267507/pexels-photo-267507.jpeg?cs=srgb&dl=pexels-pixabay-267507.jpg&fm=jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.main {
    background-color: #4244b9;
}

.hero {
    background: #ffffff;
}


header h1 {
    padding-top: 100px;
    padding-bottom: 0;
}

header .content-wrap {
    padding-bottom: 3em;
    padding-left: 1.5em;
    padding-right: 1.5em;
}

/* --------------------------------- */

#section-main .content-wrap {
    padding: 0 1.5em;
}

/* Section main */
#section-main {
    background: white;
    color: #1a1b41;
    padding-bottom: 2em;
}

/* Section 2 */
#section-services {
    padding: 2em 1em 1em;
    background: #4244b9;
}

#section-services ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#section-services img {
    border-radius: 1em;
}

#section-services li {
    margin-bottom: 1em;
    background: white;
    color: #1a1b41;
    border-radius: 1em;
}

.card1-content {
    padding: 1.5em;
}

.card2-content {
    padding: 1.5em;
}

.card2-content {
    padding: 1.5em;
}

/* Needs section */
#section-needs {
    background: white;
    color: #1a1b41;
    padding: 2em;
}

/* Section 4 */
#section-contacts .box {
    padding: 2em;
    color: rgb(255, 255, 255);
}


#section-contacts .box:first-child {
    background: #4244b9;
}

.box {
    background: #4244b9;
}

/* Iframe */

#map-iframe {
    width: 100%;
    height: 450px;
    border-style: none;
}

/* --------------------------- */

/* Footer */
#main-footer {
    background: #303231e2;
    color: #fff;
    width: 100%;
    height: 100%;
    padding: 1px;
    

}

.contacts-info {
    margin: auto;
    text-align: center;
    letter-spacing: 4px;
    display: block;
    padding: 5px;
}

.contacts-info p {
    padding: 5px;
}


.social-networks li {
    display: inline
}

.social-networks i {
    font-size: 150%;
    color: #ffffff;
    padding: 12px 20px;
    display: inline-block;
}

.social-networks i:hover {
    background: #0078a0;
    color: white;
    border-radius: 26%;
    transition: 0.1s ease-in-out;
}

/* ------------------------------- */

/* Contact html page */

.container-b {
    max-width: 1700px;
    margin-left: 0;
    margin-right: 0;
    padding: 1em;
    color: black;
}

.company-info ul {
    list-style: none;
    padding: 0;
}

.brand-b {
    text-align: center;
}

.brand-b span {
    color: #4244b9;
}

.wrapper {
    box-shadow: 0 0 20px 0 rgba(72, 94, 116, 0.7);
}

.wrapper > * {
    padding: 1em;
}

.company-info {
    background: #4244b9;
    color: #fff;
    border-radius: 5px 5px 0 0;
}

.company-info h3,
.company-info ul {
    text-align: center;
    margin: 0 0 1rem 0;
}

.contact {
    background: #4244b96f;
    border-radius: 0 0 5px 5px;
}

/* form styles */

.contact form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

.contact form label {
    display: block;
}

.contact form p {
    margin: 0;
}

.contact form .full {
    grid-column: 1 / 3;
}

.contact form button, 
.contact form input,
.contact form textarea {
    width: 100%;
    padding: 1em;
    border: 1px solid;
}

.contact form button {
    color: #1ca4ff;
    font-size: 20px;
    background: #4244b9;
    border: 0;
    text-transform: uppercase;
    border-radius: 10px;
}

.contact form button:hover,
.contact form button:focus {
    background: #0592ef;
    color: #fff;
    outline: 0;
    transition: background-color 1s ease-in;
}
/* ------------------------------------------ */

/* ---thank you page-------- */

#text-container {
    max-width: 1700px;
    height: 750px;
    margin-left: 0;
    margin-right: 0;
    padding: 1em;
    background: url(https://images.pexels.com/photos/3153198/pexels-photo-3153198.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.text-container {
    background: #000000c9;
    color: #fff;
    border-radius: 5px 5px 5px 5px;
    width: inherit;
}

.text-container span {
    color: #4244b9;
}


.text-container h1, h2 {
    padding: 10px;
    font-size: 2.1em;
}

/* ----------------------------------- */

/* inedx html media Queries */
@media(min-width: 700px) {
    .grid {
        display: grid;
        grid-template-columns: 1fr repeat(2, minmax(auto, 25em)) 1fr;
    }

    .social-networks {
        align-items: inherit;
    }

    #section-main .content-text {
        columns: 2;
        column-gap: 2em;
    }

    #section-main .content-text p {
        padding-top: 0;
    }

    .content-wrap,
    #section-services ul {
        grid-column: 2/4;
    }

    .box,
    #main-footer div {
        grid-column: span 2;
    }

    #section-services ul {
        display: flex;
        justify-content: space-around;
    }

    #section-services li {
        width: 31%;
    }
}

/* Navbar media queries */

@media (max-width: 700px) {
    .toggle-button {
        display: flex;
    }

    .navbar-link {
        /* display: none; */
        width: 100%;
    }

    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar-link ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar-link li {
        text-align: center;
    }

    .navbar-link li a {
        padding: .5rem 1rem;
    }

    .navbar-link.active {
        display: flex;
    }
}

/* contact form responsiveness */

@media(min-width:700px){
  .wrapper{
      display: grid;
      grid-template-columns: 1fr 2fr;
    }

    .wrapper > * {
        padding: 2em;
    }

    .company-info h3, .company-info ul, .brand-b {
        text-align: left;
    }
}

@media(min-width:700px){
    .thank-you {
        align-items: inherit;
        width: 100%;
      }
  
  }