@import url('https://fonts.googleapis.com/css2?family=Paytone+One&display=swap');

/* Core Styles */
html {
    scroll-behavior: smooth;
}

:root {
    --background: rgba(83, 96, 117, 0.87);
}



* {
    box-sizing: border-box;

}

body {
    margin: 0;
    font-family: 'Paytone One', sans-serif;
    font-size: 1.2em;
    line-height: 1.5;
    text-decoration: none;
}

h1,
h2,
h3 {
    margin: 0;
    text-align: center;
}

p {
    margin: 0;
    padding: 1em 0;
}

nav {
    position: absolute;
    text-align: left;
    top: 100%;
    left: 0;
    background: var(--background);
    width: 100%;
    transform: scale(1, 0);
    transform-origin: top;
    transition: transform 400ms ease-in-out;
}

nav ul {
    margin: 24px;
    padding: 2px;
    list-style: none;
}

nav li {
    margin-bottom: 1em;
    margin-left: 1em;
}

nav a {
    list-style: none;
    color: #faf8f6;
    text-decoration: none;
    font-size: 1.2rem;
    text-transform: uppercase;
    opacity: 0;
    transition: opacity 150ms ease-in-out;
}

nav a:hover {
    color: rgb(0, 164, 252);
}

/* --------------------------------- */


/* navigation bar styles */
.section-nav {
    background: var(--background);
    position: fixed;
    z-index: 999;
    width: 100%;
    /* padding: 1em; */
}


.nav-toggle {
    position: absolute !important;
    top: -9999px !important;
    left: -9999px !important;
}


.nav-toggle-label {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 1em;
    height: 11vh;
    display: flex;
    align-items: center;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
    display: block;
    background: #faf8f6;
    height: 3px;
    width: 1.5em;
    border-radius: 2px;
    position: relative;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
    content: '';
    position: absolute;
}

.nav-toggle-label span::before {
    bottom: 7px;
}

.nav-toggle-label span::after {
    top: 7px;
}


.nav-toggle:checked~nav {
    transform: scale(1, 1);
}

.nav-toggle:checked~nav a {
    opacity: 1;
    transition: opacity 250ms ease-in-out 250ms;
}

.logo {
    color: #1ca4ff;
    font-size: 1.5em;
    padding-bottom: 2rem;
    padding: 16px;
}

.logo h1 {
    padding-top: 5em;
}
/* ----------------------------- */



/* ----------------- Hero Section ----------------- */
header {
    min-height: 320px;
    color: rgb(250, 248, 246);
    text-align: center;
    background: linear-gradient(rgba(0, 0, 0, 0.903), rgba(0, 0, 0, 0.6)), url('https://images.pexels.com/photos/267507/pexels-photo-267507.jpeg?cs=srgb&dl=pexels-pixabay-267507.jpg&fm=jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* height: 60vh; */
}

#top p, span {
    color: #1ca4ff;
    font-size: 2rem;
}



.hero {
    background: rgb(3, 3, 2);
}


header h1 {
    padding-top: 20vh;
    padding-bottom: 0;
    /* font-size: 2em; */
}

header .content-wrap {
    padding-bottom: 3em;
    padding-left: 1.5em;
    padding-right: 1.5em;
}

/* --------------------------------- */




/* Section main */
.content-wrap p {
    padding: 0 1.5em;
    text-align: center;
}

.section-main {
    background: rgb(250, 248, 246);
    color: #1a1b41;
    padding-bottom: 2em;
}

.main {
    background-color: #4244b9;
}

/* ----------------------------------- */

/* Services 1 */
.section-services {
    padding: 2em 1em 1em;
    background: #4244b9;
}

.section-services ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.section-services img {
    border-radius: 1em;
}

.section-services li {
    margin-bottom: 1em;
    background: rgb(250, 248, 246);
    color: #1a1b41;
    border-radius: 1em;
}

.card-title {
    padding-top: 2em;
}


.card1-content1 {
    padding: 1.5em;
}

.content1 p {
    text-align: center;
}

.card2-content {
    padding: 1.5em;
}

.content2 p {
    text-align: center;
}

.card3-content3 {
    padding: 1.5em;
}

.content3 p {
    text-align: center;
}

/* ------------------- */

/* Services Section */

.card-call-center {
    padding: 0.5em;
    text-align: center;
}

.card-call-center img {
    display: block;
    width: 100%;
    height: auto;
    box-shadow: 0 0 20px 0 rgba(65, 83, 102, 0.908);
    border-radius: 1em;
}

.card-functional {
    padding: 0.5em;
    text-align: center;
}

.card-functional img {
    display: block;
    width: 100%;
    height: auto;
    box-shadow: 0 0 20px 0 rgba(65, 83, 102, 0.908);
    border-radius: 1em;
}

.card-non-functional {
    padding: 0.5em;
    text-align: center;
}

.card-non-functional img {
    display: block;
    width: 100%;
    height: auto;
    box-shadow: 0 0 20px 0 rgba(65, 83, 102, 0.908);
    border-radius: 1em;
}

/* ----------------------------- */


/* Needs section */
#section-needs {
    background: rgb(250, 248, 246);
    color: #1a1b41;
    padding: 2em;
    text-align: center;
}

/* Section 4 */
.section-contacts .box {
    padding: 2em;
}


.section-contacts .box:first-child {
    background: #4244b9;
    text-align: center;
}

.box {
    background: #4244b9;
    text-align: center;
    color: rgb(250, 248, 246);
    padding: 2em;
}

/* Iframe */

iframe {
    width: 100%;
    height: 25em;
    display: block;
}

/* --------------------------- */

/* Footer */
footer {
    padding: 0;
    margin: 0;
    width: 100%;
    bottom: 0;
    padding-top: 2em;
}

.contact-info {
    margin: auto;
    text-align: center;
    letter-spacing: 4px;
    display: block;
    padding: 5px;
    background: rgb(255 255 255)
}

.contact-info p {
    padding: 5px;
    color: #1a1b41;
}

.social-networks {
    text-align: center;
    padding-right: 2em;
}

.social-networks li {
    display: inline;
}

.social-networks i {
    font-size: 150%;
    padding: 20px;
    color: #2291ff;
}

.social-networks i:hover {
    font-size: 150%;
    padding: 20px;
    color: #faf8f6;
    background: rgb(0, 164, 252);
    border-radius: 50%;
}

.footer-container {
    margin-bottom: 0;
}


/* ------------------------------- */

/* Contact page */

.container-b {
    width: 100vw;
    margin-left: 0;
    margin-right: 0;
    padding: 1em;
    color: rgb(29, 28, 26);
    padding-bottom: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.company-info ul {
    list-style: none;
    padding: 0;
}

.brand-b {
    text-align: center;
    padding-top: 3em;
}

.brand-b span {
    color: #1ca4ff;
}

.wrapper {
    box-shadow: 0 0 20px 0 rgba(72, 94, 116, 0.7);
}

.wrapper>* {
    padding: 1em;
}

.company-info {
    background: #4244b9;
    color: rgb(250, 248, 246);
    border-radius: 5px 5px 0 0;
}

.company-info h3,
.company-info ul {
    text-align: center;
    margin: 0 0 1rem 0;
    letter-spacing: 3px;
}

.contact {
    background: #4244b96f;
    border-radius: 0 0 5px 5px;
}

/* form styles */

.contact form {
    display: table;
    width: 100%;
    grid-column: 1 / 3;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

.contact form label {
    display: block;
}

.contact form p {
    margin: 0;
}

.contact form .full {
    grid-column: 1 / 3;
}

.contact form button,
.contact form input,
.contact form textarea {
    width: 100%;
    height: initial;
    padding: 0.5em;
    border: 1px solid;
}

.contact form button {
    color: rgb(250, 248, 246);
    font-size: 20px;
    background: #4244b9;
    border: 0;
    text-transform: uppercase;
    border-radius: 10px;
}

.contact form button:hover,
.contact form button:focus {
    background: #1ca4ff;
    color: rgb(250, 248, 246);
    outline: 0;
    transition: background-color 1s ease-in;
}

.footer-container {
    margin-top: 7em;
}

/* ------------------------------------------ */

/* ---thank you page-------- */

.text-container {
    max-width: 100%;
    height: 100vh;
    margin-left: 0;
    margin-right: 0;
    padding: 1em;
    padding-top: 3em;
    background: url(https://images.pexels.com/photos/3153198/pexels-photo-3153198.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#text-container {
    margin-top: 3em;
    background: #000000c9;
    color: rgb(250, 248, 246);
    border-radius: 5px 5px 5px 5px;
    width: inherit;
}

#text-container span {
    color: #4244b9;
}


#text-container h1,
h2 {
    text-align: center;
    padding: 10px;
    font-size: 2.1em;
}

/* ----------------------------------- */


/* inedx html media Queries */
@media screen and (min-width: 700px) {
    .grid {
        display: grid;
        grid-template-columns: 1fr repeat(2, minmax(auto, 25em)) 1fr;
    }

    .social-networks {
        align-items: inherit;
    }

    .section-main .content-text {
        columns: 1;
        column-gap: 2em;
    }

    .section-main .content-text p {
        padding-top: 0;
    }

    .content-wrap,
    .section-services ul {
        grid-column: 2/4;
    }

    .box,
    .section-main footer, div {
        grid-column: span 2;
    }

    .section-services ul {
        display: flex;
        justify-content: space-around;
    }

    .section-services li {
        width: 31%;
    }
}

/* Navbar media queries */

@media (min-width: 800px) {
    .nav-toggle-label {
        display: none;
    }

    .section-nav {
        display: grid;
        grid-template-columns: 1fr auto minmax(600px, 3fr) 1fr;
    }

    .logo {
        grid-column: 2 / 3;
    }

    nav {
        all: unset;
        position: relative;
        text-align: left;
        transition: none;
        transform: scale(1, 1);
        background: none;
        top: initial;
        left: initial;
        /* end Edge support */

        grid-column: 3 / 4;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    nav ul {
        display: flex;
    }

    nav li {
        margin-left: 3em;
        margin-bottom: 0;
    }

    nav a {
        opacity: 1;
        position: relative;
    }

    nav a::before {
        content: '';
        display: block;
        height: 5px;
        background: black;
        position: absolute;
        top: -.75em;
        left: 0;
        right: 0;
        transform: scale(0, 1);
        transition: transform ease-in-out 250ms;
    }

    nav a:hover::before {
        transform: scale(1, 1);
    }
}

/* contact form responsiveness */

@media screen and (min-width:700px) {
    .wrapper {
        display: grid;
        grid-template-columns: 1fr 2fr;
    }

    .container-b form {
        display: grid;
        width: 100%;
        grid-column: 1 / 3;
        grid-template-columns: 1fr 1fr;
        grid-gap: 20px;
    }

    .wrapper>* {
        padding: 2em;
    }

    .company-info h3,
    .company-info ul,
    .brand-b {
        text-align: left;
    }

    .footer-container {
        margin-top: 7em;
        bottom: initial;
    }
}

/* thank you */

@media screen and (min-width:700px) {
    .thank-you {
        align-items: inherit;
        width: 100%;
    }

}